[user]
	email = officialmofabs@outlook.com
	name = officialmofabs
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[gitbutler]
	gitbutlerCommitter = 1
	aiOpenAIKeyOption = bringYourOwn
[init]
	defaultBranch = master